@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Protest+Strike&family=Sixtyfour+Convergence&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
}

.main-logo { /* Alinhamento do logo */
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: 258px;    
}

.empty {
    display: none;
}

.main-logo2 { /* Alinhamento do logo */
    display: none;
}

header { /* Cor da barra de menu */
    background-color: transparent;
}

.nav-bar {
    display: flex;
    justify-content: center; /* Alinhamento dos ítens do menu */
    padding: 1.5rem 6rem; /* Tamanho vertical da barra de menu */
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list a { /* Cor do texto dos ítens do menu */
    color: #2e2eac;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-list a:hover { /* Efeito de cor ao passar o mouse nos ítens do menu */
    color: #f67828;
}

.nav-item {
    margin: 0 20px; /* Espaçamento entre os ítens do menu */
}

.nav-link { /* Formatação dos ítens do menu */
    font-family: "Fredoka", sans-serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.35rem;
    color: #2e2eac;
    font-weight: 400px;
}

.menu-icon { /* Hide do botão do menu quando o site estiver dimensionado em paisagem */
    display: none;
}

.mobile-menu { /* Hide do menu suspenso quando o site estiver dimensionado em paisagem */
    display: none;
    margin: 20px;
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.spacer1 {
    display: block;
    background: #24252a;
    margin-inline: 20px;
    height: 3px;
    border-radius: 10px;
}

.banner {
    display: none;
    margin: 20px;
}

.banner-auto {
    margin: 20px;
    height:fit-content;
   
}

.slider {
    display: flex;
    margin: 0 auto;
    width: 800px;
    height: auto;
    max-width: 100%;
    overflow: hidden;  
}

.slider img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    transition: 1000ms;
}

.slider input {
    display: none;
}

#radio1:checked ~ .first {
	margin-left: 0;
}

#radio2:checked ~ .first {
	margin-left: -100%;
}

#radio3:checked ~ .first {
	margin-left: -200%;
}

#radio4:checked ~ .first {
	margin-left: -300%;    
}

#radio5:checked ~ .first {
	margin-left: -400%;    
}

#radio6:checked ~ .first {
	margin-left: -500%;    
}

.title1 p{
    font-family: "Fredoka";
    text-align: center;
    font-size: 130%;
    color: #2e2eac;
    font-weight: bold;
}

.open {
    display: block !important;
}

.none {
    display: none;
}

.text1 {
    display: none;
    margin: 10px 200px;
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.text1 p{
    margin: 10px 15px;
    font-family: "Fredoka";
    text-align: center;
    font-size: 120%;
    color: #2e2eac;
}

.text2 {
    margin-top: 10px;
}

.text2 p{
    display: block;
    font-family: "Fredoka";
    text-align: center;
    font-size: 120%;
    color: #2e2eac;
    font-weight: bold;
}

.label {
    display: none;
}

.label-desktop {
    margin: 0 20px;
    display: flex;
    justify-content: center;
}

.label-desktop img {
    max-width: 100%;
    height: 35px;
    object-fit: contain;
}

.whatsapp-botton a{
    position:fixed;
    width:60px;
    height:60px;
    bottom:20px;
    right:20px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    box-shadow: 1px 1px 2px #888;
    z-index:1000;
}

.read-more-button-container {
    display: flex;
    justify-content: center;
    margin: 10px 20px;
}

.read-more-button1 {
    width: 100px;
    height: 35px;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 10px;
}

.read-more-button1 p {
    font-family: "Fredoka";
    text-align: center;
    font-size: 120%;
    color: #2e2eac;
    font-weight: 550;
}

.read-more-button1 button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.read-more-button2 {
    display: flex;
    width: 100px;
    height: 35px;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 10px;
}

.read-more-button2 p {
    font-family: "Fredoka";
    text-align: center;
    font-size: 120%;
    color: #2e2eac;
    font-weight: 550;
}

.read-more-button2 button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.read-more-button {
    border-radius: 10px;
    max-width: 100%;
    height: 25px;
}

.banners {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.learn-more-button {
    border-radius: 10px;
    max-width: 100%;
    height: 25px;
}

.banner-infantil {
    margin: 20px;
}

.banner-infantil img{
    width: 500px;
    border-radius: 15px;
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.banner-infantil-title p{
    margin-top: -10px;
    font-family: "Fredoka";
    text-align: center;
    font-size: 130%;
    color: #2e2eac;
    font-weight: bold;
}

.learn-more-button1 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.learn-more-button1 button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.banner-adulto {
    margin: 20px;
}

.banner-adulto img{
    width: 500px;
    border-radius: 15px;
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.banner-adulto-title p{
    margin-top: -10px;
    font-family: "Fredoka";
    text-align: center;
    font-size: 130%;
    color: #2e2eac;
    font-weight: bold;
}

.learn-more-button2 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.learn-more-button2 button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.banner-ensino {
    margin: 20px;
}

.banner-ensino img{
    width: 500px;
    border-radius: 15px;
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.banner-ensino-title p{
    margin-top: -10px;
    font-family: "Fredoka";
    text-align: center;
    font-size: 130%;
    color: #2e2eac;
    font-weight: bold;
}

.learn-more-button3 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.learn-more-button3 button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.rodape {
    display: block;
    margin: 10px 20px;
    padding: 10px 20px;
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    border-radius: 15px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.rodape p {
    margin: 5px 5px;
    font-weight: bold;
    font-size: 80%;
    text-align: center;
    color: #2e2eac;
}

.contacts {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.instagram-button button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.email-button button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.local-button button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.instagram-button img:hover {
    width: 50px;
    transition: 100ms;
}

.email-button img:hover {
    width: 50px;
    transition: 100ms;
}

.local-button img:hover {
    width: 50px;
    transition: 100ms;
}

.instagram-button img {
    width: 40px;
    margin-right: 5px;
}

.email-button img {
    width: 40px;
    margin-left: 5px;
    margin-right: 5px;
}

.local-button img {
    width: 40px;
    margin-left: 5px;
}

/* Quem Somos */

.none {
    display: none !important;
}

.title1-quemsomos {
    margin: 20px;
}

.title1-quemsomos p{
    font-family: "Fredoka";
    text-align: center;
    font-size: 150%;
    color: #2e2eac;
    font-weight: bold;
}

.equipe {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.equipe-img {
    margin: 0 20px;
    display: flex;
    justify-content: center;
}

.equipe-img img {
    width: 800px;
    height: auto;
    max-width: 100%;
    border-radius: 15px;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
}

.text1-quemsomos {
    display: block;
    margin: 20px 80px;
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.text1-quemsomos p{
    margin: 10px 15px;
    font-family: "Fredoka";
    text-align: center;
    font-size: 110%;
    color: #2e2eac;
}

.title2-quemsomos {
    margin-top: 40px;
    margin-bottom: 20px;
}

.title2-quemsomos p{
    font-family: "Fredoka";
    text-align: center;
    font-size: 150%;
    color: #2e2eac;
    font-weight: bold;
}

.profile1, .profile2, .profile3, .profile4, .profile5, .profile6, .profile7, .profile8, .profile9, .profile10, .profile11 {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.profile-img {
    display: flex;
    justify-content: center;
}

.profile-box {
    display: flex;
    justify-content: center;
}

.profile-img img{
    display: flex;
    border-radius: 15px;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    width: 100%;
    max-width: 500px;
    height: auto;
}

.profile1-button, .profile2-button, .profile3-button, .profile4-button, .profile5-button, .profile6-button, .profile7-button, .profile8-button, .profile9-button, .profile10-button, .profile11-button {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    margin-top: -110px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur( 13.5px );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.profile1-button p, .profile2-button p, .profile3-button p, .profile4-button p, .profile5-button p, .profile6-button p, .profile7-button p, .profile8-button p, .profile9-button p, .profile10-button p, .profile11-button p {
    font-family: "Fredoka";
    text-align: center;
    text-shadow: 2px 2px 8px #ffffff;
    font-size: 250%;
    font-weight: bold;
    color: #2e2eac;
    margin-top: 10px;
}

.profile1-button button, .profile2-button button, .profile3-button button, .profile4-button button, .profile5-button button, .profile6-button button, .profile7-button button, .profile8-button button, .profile9-button button, .profile10-button button, .profile11-button button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.profile1-button img, .profile2-button img, .profile3-button img, .profile4-button img, .profile5-button img, .profile6-button img, .profile7-button img, .profile8-button img, .profile9-button img, .profile10-button img, .profile11-button img {
    width: 50px;
}

.profile1-button img:hover, .profile2-button img:hover, .profile3-button img:hover, .profile4-button img:hover, .profile5-button img:hover, .profile6-button img:hover, .profile7-button img:hover, .profile8-button img:hover, .profile9-button img:hover, .profile10-button img:hover, .profile11-button img:hover {
    width: 70px;
    transition: 100ms;
}

.profile1-description, .profile2-description, .profile3-description, .profile4-description, .profile5-description, .profile6-description, .profile7-description, .profile8-description, .profile9-description, .profile10-description, .profile11-description {
    display: none;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    margin-top: -15px;
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.profile1-description p, .profile2-description p, .profile3-description p, .profile4-description p, .profile5-description p, .profile6-description p, .profile7-description p, .profile8-description p, .profile9-description p, .profile10-description p, .profile11-description p {
    margin: 10px 15px;
    font-family: "Fredoka";
    text-align: justify;
    font-size: 110%;
    color: #2e2eac;
}

.profile1-description button, .profile2-description button, .profile3-description button, .profile4-description button, .profile5-description button, .profile6-description button, .profile7-description button, .profile8-description button, .profile9-description button, .profile10-description button, .profile11-description button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.profile1-description img, .profile2-description img, .profile3-description img, .profile4-description img, .profile5-description img, .profile6-description img, .profile7-description img, .profile8-description img, .profile9-description img, .profile10-description img, .profile11-description img {
    width: 50px;
    justify-content: center;
}

.profile1-description img:hover, .profile2-description img:hover, .profile3-description img:hover, .profile4-description img:hover, .profile5-description img:hover, .profile6-description img:hover, .profile7-description img:hover, .profile8-description img:hover, .profile9-description img:hover, .profile10-description img:hover, .profile11-description img:hover {
    width: 70px;
    transition: 100ms;
}

.up-button {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 720px) {
    .main-logo { /* Ocultação do logo quando o site estiver dimensiondo em retrato */
        display: none;
    }

    .empty {
        display: block;
        height: 32px;
        width: 32px;
    }
    
    .main-logo2 {
        display: flex;
    }

    .main-logo2 img { /* Alinhamento do logo */
        display: flex;
        max-width: 100%;
        height: 200px;
        object-fit: contain;
    }

    .label-desktop {
        display: none;
    }
    
    .label {
        margin: 0 20px;
        display: flex;
        justify-content: center;
    }
    
    .label img {
        max-width: 100%;
        height: 32px;
        object-fit: contain;
    }

    .nav-list {
        display: none;
    }
    
    .nav-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }

    .nav-item {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul { /* Menu suspenso */
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu a:hover { /* Efeito de cor ao passar o mouse nos ítens do menu */
        color: #f67828;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .open {
        display: block;
    }

    .spacer1 {
        display: none;
    }

    .spacer {
        display: block;
        margin-top: 10px;
        background: #24252a;
        margin-inline: 20px;
        height: 1.75px;
        border-radius: 10px;
    }

    .text1 {
        display: none;
        margin: 10px 20px;
        background: rgba( 255, 255, 255, 0.35 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 13.5px );
        border-radius: 20px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
    
    .text1 p{
        margin: 10px 15px;
        font-family: "Fredoka";
        text-align: center;
        font-size: 120%;
        color: #2e2eac;
    }
    
    .read-more-button {
        border-radius: 10px;
        max-width: 100%;
        height: 25px;
    }
    
    .learn-more-button {
        border-radius: 10px;
        max-width: 100%;
        height: 25px;
    }

    .banners {
        display: block !important;
    }
    
    .banner-infantil {
        margin: 20px;
    }
    
    .banner-infantil img{
        width: auto;
        max-width: 100% !important;
        border-radius: 15px;
    }
    
    .banner-infantil-title p{
        margin-top: -10px;
        font-family: "Fredoka";
        text-align: center;
        font-size: 130%;
        color: #2e2eac;
        font-weight: bold;
    }
    
    .learn-more-button1 {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
    
    .learn-more-button1 button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    
    .banner-adulto {
        margin: 20px;
    }
    
    .banner-adulto img{
        width: auto;
        max-width: 100% !important;
        border-radius: 15px;
    }
    
    .banner-adulto-title p{
        margin-top: -10px;
        font-family: "Fredoka";
        text-align: center;
        font-size: 130%;
        color: #2e2eac;
        font-weight: bold;
    }
    
    .learn-more-button2 {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
    
    .learn-more-button2 button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    
    .banner-ensino {
        margin: 20px;
    }
    
    .banner-ensino img{
        width: auto;
        max-width: 100% !important;
        border-radius: 15px;
    }
    
    .banner-ensino-title p{
        margin-top: -10px;
        font-family: "Fredoka";
        text-align: center;
        font-size: 130%;
        color: #2e2eac;
        font-weight: bold;
    }
    
    .learn-more-button3 {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
    
    .learn-more-button3 button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    /* Quem Somos */
    
    .text1-quemsomos {
        display: block;
        margin: 20px;
        background: rgba( 255, 255, 255, 0.35 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 13.5px );
        border-radius: 20px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }

    .equipe {
        display: flex;
        flex-direction: column;
    }

}